<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cadastro</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
</head>

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form action="/login">
    <h3>Cadastro</h3>

    <label for="name">Usuário</label>
    <input type="text" placeholder="Nome completo" id="name">

    <label for="email">E-mail</label>
    <input type="text" placeholder="Digite o seu email" id="email">

    <label for="password">Senha</label>
    <input type="password" placeholder="Digite a sua senha" id="password">

    <button onclick="createUser()">Criar cadastro</button>
    <div class="social">
      <div class="go"><i class="fab fa-google"></i>Google</div>
      <div class="fb"><i class="fab fa-facebook"></i>Facebook</div>
    </div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script>
    // axios.get('http://localhost:3000/products')
    //     .then(res => getProducts(res.data))
    //     .catch(error => console.log(error))

    // const getProducts = (data) => {
    //     const divProducts = document.getElementById('products')
    //     data.map(data => {
    //         const name = document.createElement('p')
    //         name.innerText = `Nome: ${data.name}`
    //         divProducts.appendChild(name)
    //     })
    // }

    const createUser = () => {
        const name = document.getElementById('name').value
        const email = document.getElementById('email').value
        const password = document.getElementById('password').value

        axios.post('/users', {
            name: name,
            email: email,
            password: password
        })
        .then(function (res) {
            console.log(res.data);
        })
        .catch(function (error) {
            console.log(error);
        })
    }
</script>
</body>

</html>